Dashboard/Build/
Dashboard/BuildReceiver/*
Dashboard/BuildSim/*
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Debug/*
Dashboard/Receiver/TestSocketDataReceiverInterface.pro.user
Dashboard/SimuMan/SimuMan.pro.user
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/.qmake.stash
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/interface_qmlcache.qrc
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/Makefile
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/Makefile.Debug
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/Makefile.Release
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/BateauCote_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/BateauCote_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/BateauFace_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/BateauFace_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/DigitTime_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/DigitTime_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/DisplayValeur_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/DisplayValeur_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheBas_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheBas_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheDroite_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheDroite_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheGauche_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheGauche_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheHaut_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/FlecheHaut_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/HorizonArtificiel_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/HorizonArtificiel_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/main.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/MemoDashboard_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/MemoDashboard_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/MemoReader.exe
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/moc_predefs.h
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/moc_readfile.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/moc_readfile.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/PlayPauseButton_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/PlayPauseButton_qml.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/qmlcache_loader.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/qmlcache_loader.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/qrc_interface_qmlcache.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/qrc_interface_qmlcache.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/readfile.obj
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/Timeline_qml.cpp
Dashboard/build-MemoReader-Desktop_Qt_5_15_1_MSVC2015_64bit-Release/release/Timeline_qml.obj
