Déploiement/*
Build/*

Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/.qmake.stash
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Debug
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Release
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.Nacra17Dashboard.Debug
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/object_script.Nacra17Dashboard.Release
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/main.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/memo.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_memo.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_memo.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_predefs.h
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_socketdatareceiver.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_socketdatareceiver.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_tendance.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_tendance.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_valcapt.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_valcapt.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_valmoy.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_valmoy.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Nacra17Dashboard.exe
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_interface.cpp
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_interface.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/socketdatareceiver.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/tendance.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/valcapt.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/valmoy.o
Dashboard/build-Nacra17Dashboard-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/training_saves/memoTraining15_1_2021_18h2m4s.csv
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/.qmake.stash
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Debug
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Release
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/main.o
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_predefs.h
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_readfile.cpp
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_readfile.o
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Nacra17Debriefer.exe
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_interface.cpp
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/qrc_interface.o
Dashboard/build-Nacra17Debriefer-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/readfile.o
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/.qmake.stash
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Debug
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/Makefile.Release
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/ui_mainwindow.h
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/main.o
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/mainwindow.o
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_mainwindow.o
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_predefs.h
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_serversensor.cpp
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/moc_serversensor.o
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/Nacra17Simulateur.exe
Dashboard/build-Nacra17Simulateur-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/debug/serversensor.o
